body {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  max-width: 900px;
}
main {
  display: flex;
  flex-flow: wrap;
}
header {
/*  background-color: lightgrey; */
}
button {
  height: 2em;
  margin-bottom: 20px;
}
.hidden {
  visibility: hidden;
}
.admin-zone {
  display: flex;
  flex-flow: wrap;
}
.adm-btn {
  width: 100%;
}
.adm-input{
  line-height: 2em;
  text-align: right;
  width: 50%
}
.validate {
  width: 50%;
}
.cat-display {
  background-color: lightgrey;
  width: 80%;
}
.catList {
  background-color: lightgrey;
  font-size: 1.5em;
  width: 20%;
}
.container {
  background-color: grey;
  display: flex;
  font-size: 2em;
  line-height: 2em;
  margin: 20px;
  justify-content: center;
}
.nav-element {
  cursor: pointer;
}
.selected {
  color: white;
  background-color: black;
}
