body {
  text-align: center;
}
main {
  display: flex;
  flex-flow: wrap;
}
header {
/*  background-color: lightgrey; */
}
.cat-display {
  background-color: lightgrey;
  width: 80%;
}
.catList {
  background-color: lightgrey;
  width: 20%;
}
.container {
  background-color: grey;
  font-size: 2em;
  line-height: 2em;
}
